In [2]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp311-cp311-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.2.0-cp311-cp311-win_amd64.whl (68 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import pyodbc

# Conectarse a Azure SQL
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=sql-server-mamba.database.windows.net;'
    'DATABASE=sql-db-mamba;'
    'UID=sql-admin;'
    'PWD=serverpwd1!'
)

# Codigo para crear la tabla en SQL (lo he hecho manual, se puede hacer con comandos en python)

""" CREATE TABLE mallas_con_ccaa_y_prov (
    CUADRICULA VARCHAR(50),
    CCAA VARCHAR(100),
    Provincia VARCHAR(100)
); """

' CREATE TABLE mallas_con_ccaa_y_prov (\n    CUADRICULA VARCHAR(50),\n    CCAA VARCHAR(100),\n    Provincia VARCHAR(100)\n); '

## Mallas con CCAA y provincia

In [ ]:
# Cargar CSV
df = pd.read_csv('mallas_con_ccaa_y_prov.csv')
df = df.fillna('')

""" CREATE TABLE mallas_con_ccaa_y_prov (
    CUADRICULA VARCHAR(50),
    CCAA VARCHAR(100),
    Provincia VARCHAR(100)
); """

In [ ]:

# Subir los datos
cursor = conn.cursor()
for index, row in df.iterrows():
    cursor.execute(
        "INSERT INTO mallas_con_ccaa_y_prov (Cuadricula, CCAA, Provincia) VALUES (?, ?, ?)",
        row['CUADRICULA'], row['CCAA'], row['Provincia']
    )
conn.commit()
cursor.close()
conn.close()

# Para comprobar datos - lo he corrido manualmente
"""
SELECT TOP 100 *
FROM mallas_con_ccaa_y_prov
WHERE CCAA != '';
"""

## Rutas y su cuadricula

In [7]:
# Cargar CSV
df2 = pd.read_csv('Rutas_Cuadriculas.csv')

""" CREATE TABLE rutas_cuadricula (
    ID_RUTA INT,
    CUADRICULA VARCHAR(100)
);
"""

' CREATE TABLE rutas_cuadricula (\n    ID_RUTA INT,\n    CUADRICULA VARCHAR(100)\n);\n'

In [ ]:

# Conectarse a Azure SQL
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=sql-server-mamba.database.windows.net;'
    'DATABASE=sql-db-mamba;'
    'UID=sql-admin;'
    'PWD=serverpwd1!'
)

# Subir los datos
cursor = conn.cursor()
for index, row in df2.iterrows():
    cursor.execute(
        "INSERT INTO rutas_cuadricula (ID_Ruta, Cuadricula) VALUES (?, ?)",
        row['ID_Ruta'], row['CUADRICULA']
    )
conn.commit()
cursor.close()
conn.close()

# Para comprobar datos - lo he corrido manualmente
"""
SELECT TOP 100 *
FROM rutas_cuadricula;
"""

"\nSELECT TOP 100 *\nFROM mallas_con_ccaa_y_prov\nWHERE CCAA != '';\n"