In [1]:
import pandas as pd
import os

In [2]:
df_IEET = pd.read_excel("../Datos IEET/BD_IEET_2015/IEET_ubicaciones_idtaxon.xlsx")

In [3]:
df_iNaturalist = pd.concat(
    [
        pd.read_csv("../Observaciones GBIF-iNaturalist/processed_observations_con_cuadricula_1.csv"),
        pd.read_csv("../Observaciones GBIF-iNaturalist/processed_observations_con_cuadricula_2.csv")
    ]
)

In [4]:
dfs_EIDOS = []
for file in os.listdir("../Datos EIDOS/EIDOS_ubicacion"):
    if file.endswith(".xlsx"):
        dfs_EIDOS.append(pd.read_excel(f"../Datos EIDOS/EIDOS_ubicacion/{file}"))
df_EIDOS = pd.concat(dfs_EIDOS)

In [5]:
df_IEET = df_IEET.rename(columns={"CUTM10x10": "cuadricula"})
df_iNaturalist = df_iNaturalist.rename(columns={"malla_codigo": "cuadricula"})
df_EIDOS["cuadricula"] = df_EIDOS["cuadr"]

In [6]:
df = pd.concat([df_IEET, df_iNaturalist, df_EIDOS], join="inner")
df.head()

  cuadricula  idtaxon
0    30TUM06  10593.0
1    30TUM21  10593.0
2    30TUM20  10593.0
3    30TUM19  10593.0
4    30TUM18  10593.0

In [7]:
df = df[["idtaxon", "cuadricula"]].copy()
df = df.dropna()
df["idtaxon"] = df["idtaxon"].astype(int)
df = df.drop_duplicates()
df = df.sort_values(by="idtaxon")
df.head()

        idtaxon cuadricula
15909         1    30TWM92
15910         1    30TWM99
490208        1    30TVL33
490206        1    30TWL06
15906         1    30TWL04

In [9]:
len(set(df["idtaxon"].tolist()))

10814

In [ ]:
df.to_csv("UBICACIONES_TODAS.csv", index=False)