In [1]:
import pandas as pd

In [2]:
df_animalia_wikimedia = pd.read_excel('animalia_wikimedia_images.xlsx')
df_all = pd.read_excel('../Especies_Sin_Foto_iNaturalist.xlsx')
df_all = df_all[~df_all['taxonid'].isin(df_animalia_wikimedia['taxonid'])]
df_all.to_excel('../Especies_Sin_Foto_final.xlsx', index=False)

In [4]:
df_all['taxonomicgroup'].value_counts()

taxonomicgroup
Invertebrados            430
Plantas vasculares       335
Hongos                    93
Plantas no vasculares     10
Peces                      9
Mamíferos                  7
Algas                      3
Name: count, dtype: int64

In [6]:
df_taxonomia = pd.read_excel('../../Taxonomia.xlsx')
df_taxonomia = df_taxonomia[df_taxonomia['nametype'] == 'Aceptado']

In [7]:
for group in set(df_taxonomia['taxonomicgroup']):
    print(f"Hay {len(df_all[df_all['taxonomicgroup'] == group])} / {len(df_taxonomia[df_taxonomia['taxonomicgroup'] == group])} especies sin foto del grupo {group}")

Hay 3 / 10 especies sin foto del grupo Algas
Hay 335 / 741 especies sin foto del grupo Plantas vasculares
Hay 93 / 472 especies sin foto del grupo Hongos
Hay 0 / 3 especies sin foto del grupo Cromistas y Bacterias
Hay 0 / 613 especies sin foto del grupo Aves
Hay 430 / 577 especies sin foto del grupo Invertebrados
Hay 10 / 26 especies sin foto del grupo Plantas no vasculares
Hay 0 / 86 especies sin foto del grupo Reptiles
Hay 7 / 137 especies sin foto del grupo Mamíferos
Hay 9 / 77 especies sin foto del grupo Peces
Hay 0 / 33 especies sin foto del grupo Anfibios